In [91]:
#  Paso 1: Importar librerías necesarias
%pip install pandas numpy scikit-learn seaborn matplotlib

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder, OrdinalEncoder
import seaborn as sns
import matplotlib.pyplot as plt

#  Paso 2: Cargar datos
ruta = "../data/IA_Client_Segment_MODIFICADO.csv"  # ajusta la ruta si es necesario
df = pd.read_csv(ruta)
df.set_index('ID', inplace=True)  # Establecer la columna 'ID' como índice del DataFrame
df.head()

Requirement already satisfied: pandas in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (2.2.4)
Requirement already satisfied: scikit-learn in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (1.6.1)
Requirement already satisfied: seaborn in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (0.13.2)
Requirement already satisfied: matplotlib in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (3.10.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: pillow>=8 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: cycler>=0.10 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: six>=1.5 in c:\users\1cnac\onedrive\documentos\ingeniería matemática\inteligencia artificial\caso02_pca\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\Users\1cnac\OneDrive\Documentos\INGENIERÍA MATEMÁTICA\Inteligencia Artificial\Caso02_PCA\env\Scripts\python.exe -m pip install --upgrade pip' command.

,Genero,Casado,Edad,Graduado,Profesion,Experiencia_laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos_anuales_brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno
ID,,,,,,,,,,,,,,,,,
CLI10,F,Si,67,Si,Ingeniero,+20annos,Bajo,3,1957,Generacion X,93442,Segovia,1385,80,1,195,NaN
CLI100,M,Si,64,Si,Medico,+20annos,Medio,2,1960,Generacion X,99774,Alicante,1052,50,1,360,5.0
CLI1000,M,Si,65,Si,Artista,+20annos,Medio,3,1959,Generacion X,36756,Toledo,1717,30,0,407,3.0
CLI10000,M,No,33,No,Funcionario,10-20annos,Bajo,4,1991,Millennials,24616,Leon,1606,30,0,544,4.0
CLI10001,M,Si,52,No,Otros,+20annos,Medio,2,1972,Generacion X,29834,LLeida,1346,30,1,170,NaN

In [92]:
df.shape

(10806, 17)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10806 entries, CLI10 to CLI9999
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Genero                     10806 non-null  object
 1   Casado                     10616 non-null  object
 2   Edad                       10806 non-null  int64
 3   Graduado                   10703 non-null  object
 4   Profesion                  10806 non-null  object
 5   Experiencia_laboral        10806 non-null  object
 6   Gastoscore                 10806 non-null  object
 7   Family_Size                10806 non-null  int64
 8   anno_nacimiento            10806 non-null  int64
 9   Generacion                 10806 non-null  object
 10  Ingresos_anuales_brutos    10806 non-null  int64
 11  Provincia                  10806 non-null  object
 12  Digital_encuesta           10806 non-null  int64
 13  Gasto_medio_mensual_cuota  10806 non-null  int64
 14  Abandono                   10806 non-null  int64
 15  Dias_cliente               10806 non-null  int64
 16  Campanna_anno              5099 non-null   float64
dtypes: float64(1), int64(8), object(8)
memory usage: 1.5+ MB

In [94]:
df.dtypes

Genero                        object
Casado                        object
Edad                           int64
Graduado                      object
Profesion                     object
Experiencia_laboral           object
Gastoscore                    object
Family_Size                    int64
anno_nacimiento                int64
Generacion                    object
Ingresos_anuales_brutos        int64
Provincia                     object
Digital_encuesta               int64
Gasto_medio_mensual_cuota      int64
Abandono                       int64
Dias_cliente                   int64
Campanna_anno                float64
dtype: object

In [95]:
df.columns

Index(['Genero', 'Casado', 'Edad', 'Graduado', 'Profesion',
       'Experiencia_laboral', 'Gastoscore', 'Family_Size', 'anno_nacimiento',
       'Generacion', 'Ingresos_anuales_brutos', 'Provincia',
       'Digital_encuesta', 'Gasto_medio_mensual_cuota', 'Abandono',
       'Dias_cliente', 'Campanna_anno'],
      dtype='object')

In [96]:
df.head(3)

,Genero,Casado,Edad,Graduado,Profesion,Experiencia_laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos_anuales_brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno
ID,,,,,,,,,,,,,,,,,
CLI10,F,Si,67,Si,Ingeniero,+20annos,Bajo,3,1957,Generacion X,93442,Segovia,1385,80,1,195,NaN
CLI100,M,Si,64,Si,Medico,+20annos,Medio,2,1960,Generacion X,99774,Alicante,1052,50,1,360,5.0
CLI1000,M,Si,65,Si,Artista,+20annos,Medio,3,1959,Generacion X,36756,Toledo,1717,30,0,407,3.0

In [97]:
df.isnull().sum()

Genero                          0
Casado                        190
Edad                            0
Graduado                      103
Profesion                       0
Experiencia_laboral             0
Gastoscore                      0
Family_Size                     0
anno_nacimiento                 0
Generacion                      0
Ingresos_anuales_brutos         0
Provincia                       0
Digital_encuesta                0
Gasto_medio_mensual_cuota       0
Abandono                        0
Dias_cliente                    0
Campanna_anno                5707
dtype: int64

In [98]:
df['Campanna_anno'].unique()

array([nan,  5.,  3.,  4.,  1.])

In [99]:
df['Profesion'].unique()

array(['Ingeniero', 'Medico', 'Artista', 'Funcionario', 'Otros',
       'Ejecutivo', 'Construccion', 'Negocios/empresa', 'Servicios'],
      dtype=object)

In [100]:
df['Gastoscore'].unique()

array(['Bajo', 'Medio', 'Alto'], dtype=object)

In [101]:
df['Provincia'].unique()

array(['Segovia', 'Alicante', 'Toledo', 'Leon', 'LLeida', 'Ciudad Real',
       'i\x81vila', 'Guipiºzcoa', 'Vizcaya', 'Orense', 'Castellon',
       'Pontevedra', 'Almeri\xada', 'Valladolid', 'Jaen', 'Lugo',
       'Santa Cruz de Tenerife', 'Albacete', 'Huelva', 'Salamanca',
       'Ceuta', 'Baleares', 'Gerona', 'Barcelona', 'Sevilla',
       'Guadalajara', 'Soria', 'Caceres', 'Madrid', 'Cordoba', 'Burgos',
       'Cadiz', 'Navarra', 'Melilla', 'Granada', 'Badajoz', 'Valencia',
       'Tarragona', 'La Corui±a', 'Las Palmas', 'Murcia', 'Palencia',
       'La Rioja', 'Teruel', 'Zamora', 'Zaragoza', 'i\x81lava', 'Cuenca',
       'Huesca', 'Malaga'], dtype=object)

In [102]:
# Diccionario de reemplazo
reemplazos_provincias = {
    'i\x81vila': 'Avila',
    'Guipiºzcoa': 'Guipuzcoa',
    'Almeri\xada': 'Almeria',
    'La Corui±a': 'La Corunna',
    'i\x81lava': 'Alava'
}

# Reemplazo directo
df['Provincia'] = df['Provincia'].replace(reemplazos_provincias)

# Verifica
df['Provincia'].unique()

array(['Segovia', 'Alicante', 'Toledo', 'Leon', 'LLeida', 'Ciudad Real',
       'Avila', 'Guipuzcoa', 'Vizcaya', 'Orense', 'Castellon',
       'Pontevedra', 'Almeria', 'Valladolid', 'Jaen', 'Lugo',
       'Santa Cruz de Tenerife', 'Albacete', 'Huelva', 'Salamanca',
       'Ceuta', 'Baleares', 'Gerona', 'Barcelona', 'Sevilla',
       'Guadalajara', 'Soria', 'Caceres', 'Madrid', 'Cordoba', 'Burgos',
       'Cadiz', 'Navarra', 'Melilla', 'Granada', 'Badajoz', 'Valencia',
       'Tarragona', 'La Corunna', 'Las Palmas', 'Murcia', 'Palencia',
       'La Rioja', 'Teruel', 'Zamora', 'Zaragoza', 'Alava', 'Cuenca',
       'Huesca', 'Malaga'], dtype=object)

In [103]:
mapa_comunidad_autonoma = {
    'Andalucia': ['Almeria', 'Jaen', 'Huelva', 'Sevilla', 'Cordoba', 'Granada', 'Malaga', 'Cadiz'],
    'Aragon': ['Huesca', 'Teruel', 'Zaragoza'],
    'Islas Baleares': ['Baleares'],
    'Canarias': ['Las Palmas', 'Santa Cruz de Tenerife'],
    'Castilla y Leon': ['Avila', 'Burgos', 'Leon', 'Palencia', 'Salamanca', 'Segovia', 'Soria', 'Valladolid', 'Zamora'],
    'Castilla La Mancha': ['Albacete', 'Ciudad Real', 'Cuenca', 'Guadalajara', 'Toledo'],
    'Catalunya': ['Barcelona', 'Gerona', 'LLeida', 'Tarragona'],
    'Extremadura': ['Badajoz', 'Caceres'],
    'Galicia': ['La Corunna', 'Lugo', 'Orense', 'Pontevedra'],
    'Madrid': ['Madrid'],
    'Murcia': ['Murcia'],
    'Comunidad Valenciana': ['Alicante', 'Castellon', 'Valencia'],
    'Navarra': ['Navarra'],
    'Pais Vasco': ['Alava', 'Guipuzcoa', 'Vizcaya'],
    'Rioja': ['La Rioja'],
    'Ceuta y Melilla': ['Ceuta', 'Melilla'],

}

In [104]:
def assign_comunidad_autonoma(Provincia):
    for comunidad, provincias in mapa_comunidad_autonoma.items():
        if Provincia in provincias:
            return comunidad
    return 'Desconocida'

In [105]:
df['comunidad_autonoma'] = df['Provincia'].map(assign_comunidad_autonoma)

In [106]:
df['comunidad_autonoma'].unique()

array(['Castilla y Leon', 'Comunidad Valenciana', 'Castilla La Mancha',
       'Catalunya', 'Pais Vasco', 'Galicia', 'Andalucia', 'Canarias',
       'Ceuta y Melilla', 'Islas Baleares', 'Extremadura', 'Madrid',
       'Navarra', 'Murcia', 'Rioja', 'Aragon'], dtype=object)

In [107]:
provincia_sin_comunidad = df[df['comunidad_autonoma'].isnull()]['Provincia'].unique()

# Mostrar la lista de países con 'continent' como None
print("Lista de países con 'continent' como None:")
print(provincia_sin_comunidad)

Lista de países con 'continent' como None:
[]

In [108]:
df.drop(columns=['Provincia'], inplace=True)  # Eliminar la columna 'Provincia'

In [109]:
zonas = {
    'Norte': ['Galicia', 'Rioja', 'Pais Vasco', 'Navarra'],
    'Sur': ['Andalucia', 'Murcia', 'Canarias', 'Ceuta y Melilla'],
    'Este': ['Catalunya', 'Aragon', 'Comunidad Valenciana', 'Islas Baleares'],
    'Oeste': ['Castilla y Leon', 'Castilla La Mancha', 'Extremadura', 'Madrid']
}

In [110]:
# Pasar de comunidad autónoma a zona
def asignar_zona(comunidad_autonoma):
    for zona, comunidades in zonas.items():
        if comunidad_autonoma in comunidades:
            return zona
    return 'Desconocida'

df['zonas'] = df['comunidad_autonoma'].map(asignar_zona)
df['zonas'].unique()

array(['Oeste', 'Este', 'Norte', 'Sur'], dtype=object)

In [111]:
df.drop(columns=['comunidad_autonoma'], inplace=True)

In [112]:
df.head()

,Genero,Casado,Edad,Graduado,Profesion,Experiencia_laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos_anuales_brutos,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno,zonas
ID,,,,,,,,,,,,,,,,,
CLI10,F,Si,67,Si,Ingeniero,+20annos,Bajo,3,1957,Generacion X,93442,1385,80,1,195,NaN,Oeste
CLI100,M,Si,64,Si,Medico,+20annos,Medio,2,1960,Generacion X,99774,1052,50,1,360,5.0,Este
CLI1000,M,Si,65,Si,Artista,+20annos,Medio,3,1959,Generacion X,36756,1717,30,0,407,3.0,Oeste
CLI10000,M,No,33,No,Funcionario,10-20annos,Bajo,4,1991,Millennials,24616,1606,30,0,544,4.0,Oeste
CLI10001,M,Si,52,No,Otros,+20annos,Medio,2,1972,Generacion X,29834,1346,30,1,170,NaN,Este

In [113]:
df['Profesion'].unique()

array(['Ingeniero', 'Medico', 'Artista', 'Funcionario', 'Otros',
       'Ejecutivo', 'Construccion', 'Negocios/empresa', 'Servicios'],
      dtype=object)

In [114]:
ambito_laboral = {
    'Tecnologia/Industria': ['Ingeniero', 'Construccion'],
    'Salud': ['Medico'],
    'Arte': ['Artista'],
    'Servicios Publicos': ['Funcionario', 'Servicios'],
    'Finanzas': ['Ejecutivo', 'Negocios/empresa'],
    'Otros': ['Otros'],
}

In [115]:
# Pasar de profesion a ambito_laboral
def map_profesion_to_ambito(profesion):
    for ambito, profesiones in ambito_laboral.items():
        if profesion in profesiones:
            return ambito
    return 'Desconocido'

df['ambito_laboral'] = df['Profesion'].map(map_profesion_to_ambito)
df[['Profesion', 'ambito_laboral']].drop_duplicates().sort_values('ambito_laboral')

                 Profesion        ambito_laboral
ID
CLI1000            Artista                  Arte
CLI10004         Ejecutivo              Finanzas
CLI10023  Negocios/empresa              Finanzas
CLI10001             Otros                 Otros
CLI100              Medico                 Salud
CLI10000       Funcionario    Servicios Publicos
CLI10027         Servicios    Servicios Publicos
CLI10            Ingeniero  Tecnologia/Industria
CLI10009      Construccion  Tecnologia/Industria

In [116]:
df[df['ambito_laboral'].isna()]['Profesion'].unique() # Ver profesiones sin sector asignado

array([], dtype=object)

In [117]:
df.drop(columns=['Profesion'], inplace=True)

In [118]:
df.head()

,Genero,Casado,Edad,Graduado,Experiencia_laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos_anuales_brutos,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno,zonas,ambito_laboral
ID,,,,,,,,,,,,,,,,,
CLI10,F,Si,67,Si,+20annos,Bajo,3,1957,Generacion X,93442,1385,80,1,195,NaN,Oeste,Tecnologia/Industria
CLI100,M,Si,64,Si,+20annos,Medio,2,1960,Generacion X,99774,1052,50,1,360,5.0,Este,Salud
CLI1000,M,Si,65,Si,+20annos,Medio,3,1959,Generacion X,36756,1717,30,0,407,3.0,Oeste,Arte
CLI10000,M,No,33,No,10-20annos,Bajo,4,1991,Millennials,24616,1606,30,0,544,4.0,Oeste,Servicios Publicos
CLI10001,M,Si,52,No,+20annos,Medio,2,1972,Generacion X,29834,1346,30,1,170,NaN,Este,Otros

In [119]:
df.isnull().sum()

Genero                          0
Casado                        190
Edad                            0
Graduado                      103
Experiencia_laboral             0
Gastoscore                      0
Family_Size                     0
anno_nacimiento                 0
Generacion                      0
Ingresos_anuales_brutos         0
Digital_encuesta                0
Gasto_medio_mensual_cuota       0
Abandono                        0
Dias_cliente                    0
Campanna_anno                5707
zonas                           0
ambito_laboral                  0
dtype: int64

In [120]:
# Eliminar filas de Casado y Graduado
df.dropna(subset=['Casado', 'Graduado'], inplace=True)

In [121]:
df['Campanna_anno'] = df['Campanna_anno'].fillna(0)  # Rellenar NaN con 0 en 'Campanna_anno'

In [122]:
df.isnull().sum()

Genero                       0
Casado                       0
Edad                         0
Graduado                     0
Experiencia_laboral          0
Gastoscore                   0
Family_Size                  0
anno_nacimiento              0
Generacion                   0
Ingresos_anuales_brutos      0
Digital_encuesta             0
Gasto_medio_mensual_cuota    0
Abandono                     0
Dias_cliente                 0
Campanna_anno                0
zonas                        0
ambito_laboral               0
dtype: int64

In [123]:
# Calcular cuartiles y rango intercuartílico (IQR)
Q1 = df['Ingresos_anuales_brutos'].quantile(0.1)
Q3 = df['Ingresos_anuales_brutos'].quantile(0.9)
IQR = Q3 - Q1

# Definir límites para considerar outliers
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Filtrar el DataFrame sin los outliers
df = df[(df['Ingresos_anuales_brutos'] >= limite_inferior) & 
                      (df['Ingresos_anuales_brutos'] <= limite_superior)]

In [124]:
# Calcular cuartiles y rango intercuartílico (IQR)
Q1 = df['Digital_encuesta'].quantile(0.1)
Q3 = df['Digital_encuesta'].quantile(0.9)
IQR = Q3 - Q1

# Definir límites para considerar outliers
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Filtrar el DataFrame sin los outliers
df = df[(df['Digital_encuesta'] >= limite_inferior) & 
                      (df['Digital_encuesta'] <= limite_superior)]

In [125]:
df.head()

,Genero,Casado,Edad,Graduado,Experiencia_laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos_anuales_brutos,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno,zonas,ambito_laboral
ID,,,,,,,,,,,,,,,,,
CLI10,F,Si,67,Si,+20annos,Bajo,3,1957,Generacion X,93442,1385,80,1,195,0.0,Oeste,Tecnologia/Industria
CLI100,M,Si,64,Si,+20annos,Medio,2,1960,Generacion X,99774,1052,50,1,360,5.0,Este,Salud
CLI1000,M,Si,65,Si,+20annos,Medio,3,1959,Generacion X,36756,1717,30,0,407,3.0,Oeste,Arte
CLI10000,M,No,33,No,10-20annos,Bajo,4,1991,Millennials,24616,1606,30,0,544,4.0,Oeste,Servicios Publicos
CLI10001,M,Si,52,No,+20annos,Medio,2,1972,Generacion X,29834,1346,30,1,170,0.0,Este,Otros

In [126]:
v_continuas = []
v_categoricas = []
for i in df.columns:
    if df[i].nunique() > 25 or df[i].dtypes in ['float64', 'int64']:
        v_continuas.append(i)
    else:
        v_categoricas.append(i)

print('Variables continuas: {}'.format(', '.join(v_continuas)))
print('Variables categóricas: {}'.format(', '.join(v_categoricas)))

Variables continuas: Edad, Family_Size, anno_nacimiento, Ingresos_anuales_brutos, Digital_encuesta, Gasto_medio_mensual_cuota, Abandono, Dias_cliente, Campanna_anno
Variables categóricas: Genero, Casado, Graduado, Experiencia_laboral, Gastoscore, Generacion, zonas, ambito_laboral

In [127]:
for i in v_categoricas:
    print(i, df[i].unique())

Genero ['F' 'M']
Casado ['Si' 'No']
Graduado ['Si' 'No']
Experiencia_laboral ['+20annos' '10-20annos' '<10annos']
Gastoscore ['Bajo' 'Medio' 'Alto']
Generacion ['Generacion X' 'Millennials' 'Generacion Silenciosa' 'Generacion Z']
zonas ['Oeste' 'Este' 'Norte' 'Sur']
ambito_laboral ['Tecnologia/Industria' 'Salud' 'Arte' 'Servicios Publicos' 'Otros'
 'Finanzas']

In [128]:
# --- Label Encoding para categóricas binarias ---
label_cols = ['Genero', 'Casado', 'Graduado', 'Abandono']
le = LabelEncoder()
for col in label_cols:
    df[col] = le.fit_transform(df[col])

In [129]:
ordinal_cols = ['Experiencia_laboral', 'Gastoscore', 'Generacion']

# Definir el orden de las categorías    

orden_experiencia = ['<10annos', '10-20annos', '+20annos']
orden_gastoscore = ['Bajo', 'Medio', 'Alto']
orden_generacion = ['Generacion Silenciosa', 'Generacion X', 'Millennials', 'Generacion Z']

# Crear una lista de orden para cada columna

ordenes = [orden_experiencia, orden_gastoscore, orden_generacion]

oe = OrdinalEncoder(categories=ordenes)

In [130]:
df[ordinal_cols] = oe.fit_transform(df[ordinal_cols])

In [131]:
variables_onehot = ['zonas', 'ambito_laboral', 'Campanna_anno']

# Aplicar OneHotEncoder a las variables categóricas
df = pd.get_dummies(df, columns=variables_onehot, drop_first=True)

df[df.columns.difference(variables_onehot)] = df[df.columns.difference(variables_onehot)].astype(int)

In [132]:
df.head()

,Genero,Casado,Edad,Graduado,Experiencia_laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos_anuales_brutos,...,zonas_Sur,ambito_laboral_Finanzas,ambito_laboral_Otros,ambito_laboral_Salud,ambito_laboral_Servicios Publicos,ambito_laboral_Tecnologia/Industria,Campanna_anno_1.0,Campanna_anno_3.0,Campanna_anno_4.0,Campanna_anno_5.0
ID,,,,,,,,,,,,,,,,,,,,,
CLI10,0,1,67,1,2,0,3,1957,1,93442,...,0,0,0,0,0,1,0,0,0,0
CLI100,1,1,64,1,2,1,2,1960,1,99774,...,0,0,0,1,0,0,0,0,0,1
CLI1000,1,1,65,1,2,1,3,1959,1,36756,...,0,0,0,0,0,0,0,1,0,0
CLI10000,1,0,33,0,1,0,4,1991,2,24616,...,0,0,0,0,1,0,0,0,1,0
CLI10001,1,1,52,0,2,1,2,1972,1,29834,...,0,0,1,0,0,0,0,0,0,0

In [133]:
v_continuas.remove('Campanna_anno')  # Eliminar 'Campanna_anno' de variables continuas
v_continuas.remove('Family_Size')     # Eliminar 'Family_Size' de variables continuas

In [134]:
# Asumiendo que 'v_continuas' es una lista de las columnas continuas a escalar
# Aplicar StandardScaler a las columnas continuas
scaler = StandardScaler()

# Escalar las columnas continuas
df[v_continuas] = scaler.fit_transform(df[v_continuas])
df[["Experiencia_laboral", "Gastoscore", "Family_Size", "Generacion"]] = scaler.fit_transform(df[["Experiencia_laboral", "Gastoscore", "Family_Size", "Generacion"]])
	
# Mostrar las primeras filas de las columnas escaladas
df[v_continuas].head()

,Edad,anno_nacimiento,Ingresos_anuales_brutos,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente
ID,,,,,,,
CLI10,1.035193,-1.034961,1.046491,0.227665,1.219075,1.531634,-0.690234
CLI100,0.871003,-0.870768,1.225402,-0.309165,0.166536,1.531634,0.419009
CLI1000,0.925733,-0.925499,-0.555169,0.762884,-0.535157,-0.652898,0.734975
CLI10000,-0.825626,0.825894,-0.898184,0.583940,-0.535157,-0.652898,1.655983
CLI10001,0.214243,-0.213995,-0.750749,0.164793,-0.535157,1.531634,-0.858302

In [135]:
df.to_csv('../data/clientes_preprocesado.csv', index=False)

In [136]:
df.head()

,Genero,Casado,Edad,Graduado,Experiencia_laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos_anuales_brutos,...,zonas_Sur,ambito_laboral_Finanzas,ambito_laboral_Otros,ambito_laboral_Salud,ambito_laboral_Servicios Publicos,ambito_laboral_Tecnologia/Industria,Campanna_anno_1.0,Campanna_anno_3.0,Campanna_anno_4.0,Campanna_anno_5.0
ID,,,,,,,,,,,,,,,,,,,,,
CLI10,0,1,1.035193,1,0.768272,-0.732743,0.157964,-1.034961,-0.627333,1.046491,...,0,0,0,0,0,1,0,0,0,0
CLI100,1,1,0.871003,1,0.768272,0.624361,-0.488915,-0.870768,-0.627333,1.225402,...,0,0,0,1,0,0,0,0,0,1
CLI1000,1,1,0.925733,1,0.768272,0.624361,0.157964,-0.925499,-0.627333,-0.555169,...,0,0,0,0,0,0,0,1,0,0
CLI10000,1,0,-0.825626,0,-0.496687,-0.732743,0.804843,0.825894,0.682659,-0.898184,...,0,0,0,0,1,0,0,0,1,0
CLI10001,1,1,0.214243,0,0.768272,0.624361,-0.488915,-0.213995,-0.627333,-0.750749,...,0,0,1,0,0,0,0,0,0,0